<div class="p-3">
  <div class="theme-container">

      <div class="my-3">
        <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
          <h1 class="uppercase">Forfaits tarifaires
          </h1>             
          <p>Choisissez le forfait qui convient le mieux à votre budjet.</p>
        </div>
        <mat-tab-group mat-align-tabs="center" class="pricing-tabs">
          <mat-tab label="MONTHLY"><app-monthly></app-monthly></mat-tab>
          <mat-tab label="YEARLY"><app-yearly></app-yearly></mat-tab>
        </mat-tab-group>
      </div> 

  </div>
</div>