<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="138px" height="37px" viewBox="0 0 138 37" enable-background="new 0 0 138 37" xml:space="preserve">  <image id="image0" width="138" height="37" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIoAAAAlCAMAAACqE4FtAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAhFBMVEX///+Ho+UsXNFGcNbX
4PfK1vRtjt+vwe6Wrujk6vmVrehghNw5ZtPx9fxhhdxuj9+juOuwwu6Io+W8zPF7meJTetl6mOK9
zPGit+tSetk4ZdNFb9aS7OUn2MsY1ceD6eEX1ccJ08Tv/fzg+vhk49pV4NZ05t6x8e2i7unB9PDQ
9/TC9PGtvVdOAAAAAWJLR0QAiAUdSAAAAAd0SU1FB+cCBgs5FIA1OwAAAALlSURBVFjD7Zbbkpsw
DIaNg2MIh25DwgJJS4GUU9///WrJssMumU6dyc52ptEFB2Fbn38kAWNP+3vz+Mb/bAZtgnO+vX+6
DMKHoewUSnT3bI/zOPk3UCI1WzxR/isUGaRfgmVNhy9B8HWZkP4+Tfd4lR1SZYfkQ1DimKOlBkak
2nEwMIl2SIV01I94blGS1yB4edObRBC8uhfWji8s1gtK66DulxBrwbLYPIoMCmFvMoMd0D5cO84b
FB7D9GzhOOLmSoqehJakEgbFmtRv8mgXy+5B8RKWFJWWHSUopcgwjmdUOmUJhd75zKcEeYPCIXSy
WYnshOLp/cBlyApbUx44CKACeUIkWczWKOVuhxfQeHMY64ksR03dUSjFclQ5QiC0Sm/Vqi+XGkCS
R5ZN6kEAW/nW4fSKAKWka4nrnq6OXAeCRf11Ym00CnWlLX5XJSa3nZy7oGSLFldg5AqDWE5CEWsU
rlHkdR8RjvCXDheLqBhoY8XyBb1HCasbKDRbvEcR7n3clr/UaQvJmt5GYYkgK/V7vYki70YhE3tq
XFgmR+yWKxRjvm54a5SM2z8Yd5Tzt+811a1KfpDIs13hBkqiPk7BPqbyXqFA0vMYv17uKD+apmlN
g9XaUnPdLlFMtzrZTAGENQqtFEt3lFaRNB0Kzk8mnkcoUkdS4SuTWLbxI/UaxWjK71Dl0jQ/VVaU
0VZenaEXVVv1sooInP42si1c99cqD+2duELi/zp+QBR76NpXGOs6p+FYQObGr67RiopUVftA0bIo
f9gv+NOe9mc79/WgjjUc2Tic1bFnl451PRvVTTuOLWNTP8HYaYRTN42zKsVuOj8YZZqYWn9iraqs
oWUzuFgNQAM8AEx0KZs7NnXo6gBoeLgser+4MC0+Thd1rIcWGXEADhr1xdT+AmCQ5kNQGOih9txa
VWo2LFWZlqpYuoda20Oosa7hNED0tm97TIZ5Nrky93XPTK7Mw9CZeU+7134Di7Qv5rYBXzMAAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMjMtMDItMDZUMTE6NTc6MjArMDA6MDCD9iwSAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDIzLTAyLTA2VDExOjU3OjIwKzAwOjAw8quUrgAAAABJRU5ErkJggg==" />
</svg>
